.activitiesSection {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  gap: 32px;
}

.activitiesSection__list {
  flex: 1 1 0px;
  height: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 16px;
  align-items: center;
  transform: scaleX(1.017);
}

.activitiesSection__list__item {
  flex: 1 1 0px;
  width: 22%;
  height: 0;
}

.activitiesSection__list__break:nth-of-type(2) {
  height: 100%;
}

.activitiesSection__list__break:nth-of-type(6) {
  height: 100%;
}

.activitiesSection__list__break:nth-of-type(8) {
  height: 100%;
}

.activitiesSection__list__item:nth-of-type(3) {
  flex: 1.35 1 0px;
}

.activitiesSection__list__item:nth-of-type(9) {
  flex: 0.91 1 0px;
}

@media only screen and (max-width: 991px) {
  .activitiesSection {
    height: 700px;
  }

  .activitiesSection__list__break:nth-of-type(n) {
    height: 0;
  }

  .activitiesSection__list__break:nth-of-type(4n) {
    height: 100%;
  }

  .activitiesSection__list__item:nth-of-type(n) {
    width: 30%;
  }

  .activitiesSection__list__item:nth-of-type(1) {
    flex: 2 1 0px;
  }

  .activitiesSection__list__item:nth-of-type(7) {
    flex: 2 1 0px;
  }
}

@media only screen and (max-width: 767px) {
  .activitiesSection {
    height: fit-content;
    margin-bottom: 48px;
    width: 100%;
    max-width: var(--max-housings-section-width-mobile);
    margin-right: auto;
    margin-left: auto;
  }

  .activitiesSection__list {
    height: fit-content;
    transform: scaleX(1.017);
  }

  .activitiesSection__list__break:nth-of-type(n) {
    height: 0;
  }

  .activitiesSection__list__item:nth-of-type(n) {
    min-height: 190px;
    max-height: 190px;
    width: 100%;
  }
}
