.filtersSection {
  display: flex;
  padding: 16px 0;
  gap: 32px;
  margin-bottom: 16px;
}

.filtersSection__title {
  height: var(--btn-height);
  display: flex;
  align-items: center;
}

.filtersSection__filtersList {
  display: flex;
  gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 991px) {
  .filtersSection {
    flex-direction: column;
    gap: 16px;
  }

  .filtersSection__title {
    height: fit-content;
  }

  .filtersSection__filtersList {
    gap: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .filtersSection__filtersList {
    gap: 12px;
    row-gap: 16px;
  }
}
