footer {
  background-color: var(--color-neutral-secondary);
  padding: 48px var(--margin-sides-desktop);
}

.footer__list {
  display: flex;
}

.footer__list__column {
  width: 0;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__list__title {
    margin-bottom: 4px;
}

.footer__list__item {
    text-decoration: none;
    color: black;
}
