.infoSection {
  height: var(--btn-height);
  display: flex;
  margin: 0 var(--margin-sides-desktop) 32px;
  gap: 16px;
  align-items: center;
}

.infoSection__logoContainer {
  height: 32px;
  width: 32px;
  border: 2px solid var(--color-neutral-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSection__logo {
  color: var(--color-highlight-primary);
}
