.infoSection {
  height: var(--btn-height);
  display: flex;
  margin-bottom: 32px;
  gap: 16px;
  align-items: center;
}

.infoSection__logoContainer {
  height: 24px;
  width: 24px;
  min-width: 24px;
  border: 2px solid var(--color-neutral-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSection__logo {
  color: var(--color-highlight-primary);
}

@media only screen and (max-width: 767px) {
  .infoSection {
    gap: 8px;
    align-items: initial;
  }

  .infoSection__body {
    position: relative;
    top: 3px;
  }
}
