.filter {
  height: var(--btn-height);
  display: flex;
  border: 2px solid var(--color-neutral-primary);
  border-radius: 24px;
  width: fit-content;
  min-width: fit-content;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.filter:hover {
  background-color: var(--color-highlight-secondary);
  transform: scale(1.1);
  border-color: var(--color-highlight-secondary);
  color: var(--color-highlight-primary);
}

.filter__logoContainer {
  height: var(--btn-height);
  width: var(--btn-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-highlight-secondary);
  border-radius: 24px;
  position: relative;
  top: -2px;
  left: -2px;
}

.filter__logo {
  color: var(--color-highlight-primary);
}

.filter__label {
  display: flex;
  margin-left: 8px;
  margin-right: 20px;
  align-items: center;
}
