.searchSection__form {
  display: flex;
  height: var(--btn-height);
  width: 424px;
}

.searchSection__logoContainer {
  background-color: var(--color-neutral-secondary);
  border-radius: 16px 0 0 16px;
  width: var(--btn-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchSection__textInput {
  width: 240px;
  border: 2px solid var(--color-neutral-secondary);
  padding: 0 8px;
}

.searchSection__submitBtn {
  background-color: var(--color-highlight-primary);
  border: none;
  color: white;
  border-radius: 0 16px 16px 0;
  width: 136px;
  cursor: pointer;
}

.searchSection__submitBtn i {
  display: none;
}

.searchSection__submitBtn span {
  display: block;
}

@media only screen and (max-width: 768px) {
  .searchSection__form {
    width: 100%;
  }

  .searchSection__submitBtn {
    width: var(--btn-height);
  }

  .searchSection__textInput {
    width: 0;
    max-width: 300px;
    flex: 1 1 0px;
  }

  .searchSection__submitBtn i {
    display: block;
  }

  .searchSection__submitBtn span {
    display: none;
  }
}
