.nav {
  height: 100%;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav__item {
  width: 162px;
  height: 100%;
}

.nav__item a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav__item:first-child {
  border-top: 3px solid var(--color-highlight-primary);
  color: var(--color-highlight-primary);
}

@media only screen and (max-width: 768px) {
  .nav {
    height: 48px;
    width: 100%;
  }

  .nav__item {
    width: 50%;
  }

  .nav__item:first-child {
    border-top: none;
    border-bottom: 3px solid var(--color-highlight-primary);
  }
}
