.nav {
  height: 100%;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav__item {
  width: 162px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.nav__item__border {
  background-color: var(--color-highlight-primary);
  width: 0;
  height: 3px;
  transition: width 200ms ease-in-out;
}

.nav__item:hover {
  color: var(--color-highlight-primary);
}

.nav__item:hover .nav__item__border {
  width: 100%;
}

.nav__item a {
  flex: 1 1 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .nav {
    height: 48px;
    width: 100%;
  }

  .nav__item {
    width: 50%;
    flex-direction: column;
  }

}
